[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mss = "*"
pillow = "*"
imagehash = "*"
pyaudiowpatch = "*"
sounddevice = "*"
moonshine-voice = "*"
numpy = "*"
scipy = "*"
faster-whisper = "*"

[dev-packages]

[requires]
python_version = "3.13"
python_full_version = "3.13.13"
